# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# tmp
brand.html
workshops.html
data/**